
.navbar{
	padding: 0;
	.navbar-nav{
		li.nav-item{
			&.active{}
			a.nav-link{
				color: $sky-blue;
			}
		}
	}
}

.speech-navbar{
	padding: 0;
	li{
		list-style: none;
		padding-bottom: 5px;
		a{
			color: $font-color;
			display: block;
			width: 100%;
			padding: 10px;
			&:hover{
				background-color: $sky-blue;
			}
		}
		&.active{
			a{
				background-color: $sky-blue;
			}
		}
	}
}