
article.speech-detail{
	header{
		h1{

		}
			
	}
	.content{
		margin-top: 20px;
	}
	footer{
		.speech-actions{
			ul{
				li{
					display: inline-block;
					padding-left: 10px;
				}
			}
		}	
		.add-speech{
			margin-top: 20px;
			a{
				color: $sky-blue;	
			}
		}
	}
	
}

.speech-author{
	display: block;
}
.speech-date{
	display: block;
	margin-bottom: 10px;
}

