
<div *ngIf="id; then editing else adding"></div>
<ng-template #editing><h2>Edit Speech</h2></ng-template>
<ng-template #adding><h2>Add Speech</h2></ng-template>
<hr>

<form #speechForm="ngForm" (ngSubmit)="onSubmit(speechForm)">
  <div class="form-group">
    <span>*</span>
    <input 
      type="text" 
      class="form-control" 
      placeholder="Title"
      required
      name="title"
      #title="ngModel"
      [(ngModel)]="speech.title"
    >
    <div class="alert alert-danger" *ngIf="title.touched && !title.valid">Title is required</div>
  </div>
  <div class="form-group">
    <input 
      type="text" 
      class="form-control"
      placeholder="Image url"
      name="imageUrl"
      #imageUrl="ngModel"
      [(ngModel)]="speech.imageUrl"
    >
  </div>
  <div class="row form-group">
    <div class="col">
        <input 
          type="date" 
          class="form-control"
          name="publishDate"
          #publishDate="ngModel"
          [(ngModel)]="speech.publishDate"
        >
    </div>
    *
    <div class="col">
        <select 
          class="form-control" 
          name="author" 
          #author="ngModel" 
          [(ngModel)]="speech.author"
          required
          >
            <option selected>Author</option>
            <option>Author 1</option>
            <option>Author 2</option>
            <option>Author 3</option>
            <option>Author 4</option>
        </select>
    </div>
  </div>
  <div class="form-group">
    <input 
      type="text" 
      class="form-control" 
      placeholder="Keywords separated by comma"
      name="keywords"
      #keywords="ngModel"
      [(ngModel)]="speech.keywords"
    >
  </div>
  <span>*</span>
  <div class="form-group">
    <textarea 
      class="form-control" 
      rows="6" 
      placeholder="Your speech"
      required
      name="body"
      #body="ngModel"
      [(ngModel)]="speech.body"
    ></textarea>
    <div class="alert alert-danger" *ngIf="body.touched && !body.valid">Title is required</div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]=!speechForm.form.valid>Submit</button>
  <a routerLink="/list" class="btn btn-secondary">Cancel</a>
</form>