<header class="d-block d-md-none">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="logo"><i class="fa fa-comments" aria-hidden="true"></i></div>        
      </div>
      <div class="col-6">
        <nav class="mobile-nav text-right">
            <div class="btn-group" dropdown>
                <button dropdownToggle type="button">
                    <i class="fa fa-bars" aria-hidden="true"></i></button>
                  <ul *dropdownMenu class="speech-navbar" role="menu">
                    <li [routerLinkActive]="['active']">
                      <a routerLink="/list">List of speeches</a>
                    </li>
                    <li [routerLinkActive]="['active']">
                      <a routerLink="/add">Add speech</a>
                    </li>
                    <li><a href="#">List of authors</a></li>
                    <li><a href="#">Add an author</a></li>
                    <li><a href="#">Categories</a></li>
                  </ul>  
            </div>
          
        </nav>
      </div>
    </div>
  </div>
</header>
<div class="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="logo d-none d-md-block">
          <img src="/assets/images/logo-black.jpg" alt="" class="img-fluid rounded-circle">
        </div>
        <aside class="d-none d-md-block">
            <h4>Speech Navigation</h4>
            <hr>
            <nav>
              <ul class="speech-navbar">
                <li [routerLinkActive]="['active']">
                  <a routerLink="/list">List of speeches</a>
                </li>
                <li [routerLinkActive]="['active']">
                  <a routerLink="/add">Add speech</a>
                </li>
                <li [routerLinkActive]="['active']">
                  <a href="#">List of authors</a>
                </li>
                <li [routerLinkActive]="['active']">
                  <a href="#">Add an author</a>
                </li>
                <li [routerLinkActive]="['active']">
                  <a href="#">Categories</a>
                </li>
              </ul>  
            </nav>
        </aside>
      </div>
      <div class="col-md-9">
        <main>
          <!-- here goese dynamic components through routes -->
          <router-outlet></router-outlet>
          
        </main>
      </div>
    </div>
  </div>
</div>

<footer class="m-top-100">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <span>Developed by: <a href="mailto:noelfloresr@gmail.com">Noel Flores</a></span>
          </div>
        </div>
  </div>
  
  
</footer>




