<header class="d-block d-md-none">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="logo">A logo here</div>
      </div>
      <div class="col-sm-6">
        <ul class="speech-navbar">
          <li class="active"><a href="#">List of speeches</a></li>
          <li><a href="#">Add speech</a></li>
          <li><a href="#">List of authors</a></li>
          <li><a href="#">Add an author</a></li>
          <li><a href="#">Categories</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <aside class="d-none d-md-block">
            <h4>Speech Navigation</h4>
            <hr>
            <ul class="speech-navbar">
              <li class="active"><a href="#">Latest speeches</a></li>
              <li><a href="#">Add speech</a></li>
              <li><a href="#">List of authors</a></li>
              <li><a href="#">Add an author</a></li>
              <li><a href="#">Categories</a></li>
            </ul>
        </aside>
      </div>
      <div class="col-md-9">
        <main>
          <!-- here goese dynamic components 
          <app-speech-list></app-speech-list> -->
          <app-speech-form></app-speech-form>
        </main>
      </div>
    </div>
  </div>
</div>




