
<div class="dashboard">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <aside>
          <h4>Speech Navigation</h4>
          <hr>
          <ul class="speech-navbar">
            <li class="active"><a href="#">Speech 1</a></li>
            <li><a href="#">Speech 2</a></li>
            <li><a href="#">Speech 3</a></li>
            <li><a href="#">Speech 4</a></li>
          </ul>
        </aside>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-12">
            <div class="navbar navbar-expand-lg p-left-0 m-bottom-30">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Authors</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Speeches</a>
                </li>
              </ul>
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search speech" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
            
            <section class="">
              
            </section>

            <article class="speech-detail">
              <header>
                <h1 class="speech-title">What is Lorem Ipsum</h1>
                <hr>
                <span class="speech-author"><strong>Author:</strong> Joe Doe</span>
                <span class="speech-date"><strong>Published at: </strong>01/01/2017</span>
              </header>
              <div class="content">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              </div>
              <footer>
                <ul class="speech-keywords">
                  <li><a href="#" class="tag">Policy</a></li>
                  <li><a href="#" class="tag">Algo</a></li>
                  <li><a href="#" class="tag">Algo</a></li>
                </ul>
                <div class="add-speech">
                  <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> New Speech</a>
                </div>
                <div class="speech-actions d-block text-right">
                  <h5>Actions</h5>
                  <ul>
                    <li><a href="#" class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></li>
                    <li><a href="#" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a></li>
                  </ul>  
                </div>
                
              </footer>
            </article>
            
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>




