<article class="speech-detail">
  <header>
    <h1 class="speech-title">{{speech.title}}</h1>
    <hr>
    <span class="speech-author"><strong>Author:</strong> {{ speech.author }}</span>
    <span class="speech-date"><strong>Published at: </strong>{{ speech.publishDate | date:"MM/dd/yyyy" }}</span>
  </header>
  <div class="content">
    <p>{{ speech.body }}</p>
  </div>
  <footer>
    <ul class="speech-keywords">
      <li *ngFor="let tag of keywords">
        <a href="#" class="tag m-rl-5">{{tag}}</a>
      </li>
    </ul>
    
    <div class="speech-actions d-block text-right">
      <h5>Actions</h5>
      <ul>
        <li><a href="#" class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></li>
        <li><a href="#" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a></li>
      </ul>  
    </div>
    
  </footer>
</article>